body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#box{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    margin-left: 3px;
    margin-top: 8px;
}

#button{
    background-color: brown;
    color: white;
    border-radius: 2px;
    border: transparent;
}